{% load static%}
<ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
      <div class="sidebar-brand-text mx-3"><img src="{% static 'image/asset11.png' %}" ></div>
    </a>
    <hr class="sidebar-divider my-0">
    <li class="nav-item active">
      <a class="nav-link" href="{% url 'admin_dashboard' %}">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Admin Dashboard</span></a>
    </li>
    <hr class="sidebar-divider">
    <div class="sidebar-heading">
      Modules 
    </div>
    <!-- Sponsorship -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTable_sponsorship" aria-expanded="true"
        aria-controls="collapseTable">
        <i class="fas fa-handshake"></i>
        <span>Investments</span>
      </a>
      <div id="collapseTable_sponsorship" class="collapse" aria-labelledby="headingTable" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <hr class="sidebar-divider my-0">
          <a class="collapse-item" href="{% url 'farmers' %}">Farmers </a>
          <a class="collapse-item" href="{% url 'investors' %}">Investors</a>
          <a class="collapse-item" href="{% url 'farmer_services' %}">Farmer-services</a>
          <a class="collapse-item" href="{% url 'contracts' %}">Contracts</a>
        </div>
      </div>
    </li>
    <!-- Collabration -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTable_collabration" aria-expanded="true"
        aria-controls="collapseTable">
        <i class="far fa-calendar-alt"></i>
        <span>Collabration</span>
      </a>
      <div id="collapseTable_collabration" class="collapse" aria-labelledby="headingTable" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <hr class="sidebar-divider my-0">
          <a class="collapse-item" href="{% url 'seminars' %}">Online Seminars</a>
          <a class="collapse-item" href="{% url 'events' %}">Offline Events</a>
          <a class="collapse-item" href="{% url 'news' %}">News</a>
          <a class="collapse-item" href="{% url 'tips' %}">Tips</a>
          <a class="collapse-item" href="{% url 'experts' %}">Experts</a>
        </div>
      </div>
    </li>
    <!-- Marketplace -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTable_marketplace" aria-expanded="true"
        aria-controls="collapseTable">
        <i class="fas fa-shopping-cart"></i>
        <span>Marketplace</span>
      </a>
      <div id="collapseTable_marketplace" class="collapse" aria-labelledby="headingTable" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <hr class="sidebar-divider my-0">
          <a class="collapse-item" href="{% url 'local_market' %}">Local Market</a>
          <a class="collapse-item" href="{% url 'global_market' %}">Global market</a>
          <hr class="sidebar-divider my-0">
          <h6 class="collapse-header">Fertilizers</h6>
          <a class="collapse-item" href="{% url 'fertilizer' %}">All types</a>
          <hr class="sidebar-divider my-0">
          <h6 class="collapse-header">Delivery</h6>
          <a class="collapse-item" href="{% url 'delivery' %}">Logistics</a>
        </div>
      </div>
    </li>
    <!-- Machine Renting -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTable_machine" aria-expanded="true"
        aria-controls="collapseTable">
        <i class="fas fa-tractor"></i>
        <span>Machine Renting</span>
      </a>
      <div id="collapseTable_machine" class="collapse" aria-labelledby="headingTable" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <hr class="sidebar-divider my-0">
          <a class="collapse-item" href="{% url 'machine_owners' %}">Machine Owners</a>
          <a class="collapse-item" href="{% url 'renting_machines' %}">Renting Machines</a>
          <a class="collapse-item" href="{% url 'available_machines' %}">Available Machines</a>
        </div>
      </div>
    </li>
     <div class="version" id="version-ruangadmin"></div>
  </ul>